# SERVER 
PORT="8080"
NODE_ENV="development"

# DB
MONGO_DB="mongodb_url_with_credentials"

# JWT
ATOKEN_SECRET_KEY="acces_token_secret_key_min_32_chars"
RTOKEN_SECRET_KEY="refresh_token_secret_key_min_32_chars"
GMAIL_TOKEN_SECRET_KEY="gmail_token_secret_key_min_32_chars"

# GOOGLE SIGNIN
GOOGLE_CLIENT_ID="look_into_google_clud_console_for_OAuth2.0_web_client"

# BREVO
BREVO_API_KEY="acces_token_secret_key_min_32_chars"
BREVO_SENDER_EMAIL="your_email@example.com"

# APPLE
APPLE_BUNDLE_ID="com.example.authapp"

# FIREBASE
FIREBASE_PROJECT_ID="project_id"
FIREBASE_PRIVATE_KEY="private_key"
FIREBASE_CLIENT_EMAIL="client_email"